* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8c8dc; 
    height: 100vh;
}

/* Navbar styles */
.navbar {
    background-color: white;
    padding: 24px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 15px;
}

.navbar ul li a:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
    transition: 0.3s;
}

/* Container for the main content */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    height: calc(100vh - 80px);
    padding: 20px;
}

/* Large Rectangle */
.large-box {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #d9c8ff;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Profile picture */
.profile-pic {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Text inside the large box */
.main.text {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333;
}

.main-text-ing {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #333;
}

/* Square Boxes */
.square-box1, .square-box2, .square-box3, .square-box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #000000;
    border-radius: 20px;
    padding: 25px;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
}

.square-code {
   width: 350px;
   height: 350px;
   margin: 10px;
   border-radius: 10px; 
}
/* Image inside the square boxes */
.square-img {
    width: 350px;
    height: 350px;
    margin-bottom: 10px;
    border-radius: 10px; /* Rounded corners */
}

/* Pastel color classes for smaller boxes */
.square-box1 {
    background-color: #ffd1dc; /* Rosa pastel */
}

.square-box2 {
    background-color: #fff5ba; /* Amarillo pastel */
}

.square-box3 {
    background-color: aliceblue; /* Azul claro */
}

.square-box4 {
    background-color: #daecbe; 
}